 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-group-1 {
  width: 350px;
  min-height: 418px;
  background-image: none;
  margin: 173px auto 0 395px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 140px;
  background-image: url("images/bg-pattern-card.svg");
  width: 350px;
  margin: -1px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 96px;
  height: 96px;
  margin: -47px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-group-3 {
  min-height: 111px;
  margin-bottom: 0;
  margin-top: 28px;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 350px;
  margin: -111px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 29px 16px 0 2px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 6px 29px 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 111px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin: 29px 32px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  text-align: center;
  margin: 6px 28px 0 33px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 111px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin: 29px auto 0 27px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  text-align: center;
  letter-spacing: 0px;
  margin: 6px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 151px;
    margin-left: 271px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 48px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 36px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 271px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 7px;
    margin-right: 242px;
    margin-left: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -50px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 78px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -52px;
    margin-right: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 37px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 28px;
    margin-right: 266px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8px;
    margin-right: 248px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -170px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 8px;
    margin-right: 35px;
  }
}